<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h4>Multiple Upload (Max : 5 Files)</h4>
    <form action="http://localhost:3000/multiple" method="post" enctype="multipart/form-data">
      <input type="file" name="files" multiple />
      <input type="submit" value="Uplaod" />
    </form>
  </body>
</html>
